<!DOCTYPE html>
<html>
<head>
<title>Lesson Planner</title>
<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Plan Your Lesson</h1>

    <div class="input-fields">
      <div class="field yt-field" data-type="youtubeLinks">
        <label for="youtubeLinks-1">YouTube Videos:</label>
        <input type="text" id="youtubeLinks-1" placeholder="Enter YouTube link">
      </div>
      <div class="field document-field" data-type="documentFiles">
        <label for="documentFiles-1">Documents:</label>
        <input type="file" id="documentFiles-1">
      </div>
      <div class="field text-description-field" data-type="textDescription">
        <label for="textDescription-1">Lesson Description:</label>
        <textarea id="textDescription-1" rows="4"></textarea>
        <span id="textLengthValue">0/20 min characters</span>
      </div>
      <div class="field lesson-length-field" data-type="lessonLength">
        <label for="lessonLength-1">Lesson Duration:</label>
        <input type="range" min="15" max="120" value="60" id="lessonLength-1" step="5">
        <span id="lessonLengthValue">60 minutes</span>
      </div>
      <div class="field image-field" data-type="imageFiles">
        <label for="imageFiles-1">Image:</label>
        <input type="file" id="imageFiles-1">
      </div>
      <div class="field student-year-field" data-type="studentYear">
        <label for="studentYear-1">Student Age:</label>
        <input type="range" min="5" max="18" value="11" id="studentYear-1" step="1">
        <span id="studentYearValue">11 year old</span>
      </div>
    </div>
    
    <div class="centered_button_container">
      <div class="centered_button">
        <button id="plan-lesson" disabled>Plan Lesson</button>
      </div>
    </div>

    <div class="lesson-plan" id="lesson-plan-display">
      Lesson plan will show here
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="../static/js/main.js"></script>

</body>
</html>
